
header{
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
}

.logo{
    font-size: 26px;
    font-weight: 900;
    color: #1d1d1d;
    /* display: inline; */
}

.menu_wrap{
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}

/* .menu{
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1d;
} */

